* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(Görsel/pin2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  }

  header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    font-family: Arial Black;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .header-left, .header-center, .header-right {
    flex: 1;
    text-align: center;
  }

  .header-left {
    text-align: left;
  }

  .header-right {
    font-size: 17px;
    text-align: right;
    font-family: 'Segoe UI', sans-serif;
    padding-right: 10px;
  }

  .header-right a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin-left: 15px;
  }

  main {
    font-family: Arial, sans-serif;
    text-align: center;
    flex-grow: 1;
    padding: 20px 20px;
    padding-bottom: 90px;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
    padding-bottom: 50px;
  }

  .ust {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .kutu {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 40px;
    margin-top: 10px;
    font-size: 0.9em;
    color: white;
  }
  
  footer strong {
    text-align: center;
  }

  .ayrac {
    border: none;
    height: 2px;
    background-color: white;
    width: 100%;
    margin: 40px auto;
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
    }
  
    .header-left, .header-center, .header-right {
      flex: unset;
      width: 100%;
      text-align: center;
      margin: 0px 0;
    }
  
    .header-left {
      order: 2;
    }
  
    .header-center {
      order: 1;
    }
  
    .header-right {
      order: 3;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
      padding-top: 10px;
    }

    .ayrac {
      width: 100%;
    }

    footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
    }
    .footer-center{
      text-align: center;
    }
  }
  
  